body{
    /*background-color: #daa520;*/
    background-color: #b8860b;
}


#barraOffset{
    /* width: 175px;
    height: 10px;
    padding: 0 5px;
    background: content-box;
  box-sizing: border-box;*/
  height: 160px;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  vertical-align: top;
  

}

#valorOffset{
  width: 45px;
  height: 30px;
  padding: 4px;
  margin: 8px;
  text-align: center;
  color: rgb(4, 92, 92);
  font-weight: bold;
  border: none;
  border-radius: 50%;
  /*background-image: url("/home/rebeca/Documentos/SAP005-cipher/src/images/Waddles.jpeg");
  background-size: 100%;
  background-position: center;*/
  background-color: lightblue;
 
}

.slidecontainer{
display: inline-grid;
width: 85px;
height: 400px;
padding: 10px 10px;
padding-left: 30px;
margin: 5px 5px;
position: relative;
/*background-color: rgb(50, 205, 192);*/
}


.container{
    width: 100%;
padding: 15px;
margin: 15px;
position: center;
} 


.box{
    display: inline-block;
    vertical-align: top;
    
}

#botaoCifrar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: auto;
    color: rgb(0, 0, 0);
    background-color:;
    display: block;
    width: 200px;
    height: 70px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    

}

#botaoDecifrar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: auto;
    color: rgb(0, 0, 0);
    background-color:;
    display: block;
    width: 200px;
    height: 70px;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

#botaoCopiar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: auto;
    color: rgb(0, 0, 0);
    background-color:;
    display: block;
    width: 200px;
    height: 70px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    vertical-align: bottom;
}

textarea{
    display: block;
    resize: none;
    background-color: rgb(226, 169, 45);
    border-radius: 15px;
    border-style: solid;
    width: 400px
    height: 300px;
    padding: 15px;
    margin: 15px;
    position: relative;
    vertical-align: top;
    
}

#description{
    display: block;
    resize: none;
    background-color: lightyellow;
    border-radius: 15px;
    border-style: solid;
    width: 300px
    height: 100px;
    padding: 15px;
    margin: 15px;
    position: relative;
    vertical-align: top;
}

